$ruler: 16px;
$color-red: #AE1100;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;

.error{
  color: red;
  z-index: 4;
  left:5%;
}

.body{
 
background-image: url("https://raw.githubusercontent.com/JulianaThayil/Step-by-step/master/public/assets/13.png");
background-size: 100vw 100vh ;
background-repeat: no-repeat; /* Do not repeat the image */
height:100vh;
width: 100%;

  }

  

form {

  padding: $ruler;
  width: $ruler*20;
  margin: 0 auto;

}

.but:focus { outline: none !important; box-shadow: none !important; }

.segment {
 
  text-align: center;
  
}

.but, .ip {
  border: 0;
  outline: 0;
  font-size: $ruler;
  border-radius: $ruler*20;
  padding: $ruler;
  background-color:$color-bg;
  text-shadow: 1px 1px 0 $color-white;
  position: relative;
  display: inline;
  
}

label {
  position: relative;
  display: block;
  margin-bottom: $ruler*1.5;
  width: 100%;
}

.ip {
  margin-right: $ruler/2;
  box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;

  &:focus {
    box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }
}

.but {
  color:#61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  outline:none;
  
  &:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  }
  
  &:active {
    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
    outline:none;
  }


  &.red {
    display: block;
    width: 100%;
    color:blue;
  }
}

