$ruler: 16px;
$color-red: #AE1100;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;

.main{
  height: 100vh;
  width: 100vw;
}

.image{
  width: 46%;
  height: 100vh;
}
@media only screen and (max-width: 425px) {
  .image {
    display: none;
      width: 0px;
      }
  }
.error{
  color: red;
  z-index: 4;
  left:5%;
}

.body{
    background-color:#EBECF0;
    display:flex;
}
form {
  padding: $ruler;
  width: $ruler*20;
  margin: 0 auto;
  z-index: 1;
  height:100vh;
}

.but:focus { outline: none !important; box-shadow: none !important; }

.segment {
  padding: $ruler*2 0;
  text-align: center;
  
}

.but, .ip {
  border: 0;
  outline: 0;
  font-size: $ruler;
  border-radius: $ruler*20;
  padding: $ruler;
  background-color:$color-bg;
  text-shadow: 1px 1px 0 $color-white;
  position: relative;
  display: inline;
  
}

label {
  position: relative;
  display: block;
  margin-bottom: $ruler*1.5;
  width: 100%;
}

.ip {
  margin-right: $ruler/2;
  box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;

  &:focus {
    box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }
}

.but {
  color:#61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  outline:none;
  
  &:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  }
  
  &:active {
    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
    outline:none;
  }


  &.red {
    display: block;
    width: 100%;
    color:blue;
  }
}

