.avatar {
  background: lightblue;
  border-radius: 50%;
  width: 20vh;
  height: 20vh;
  }
   .ip{
    display: none;
   }
    .root {
      display: flex;
    }
    .container{
      position:absolute;
      margin-left:8%;
    }

    .tabs {
      border-right: 1px solid;
    }

    .mainFeaturedPost {
      margin-left:10%;
      margin-right:10%;
      position: relative;
      color: white;
      margin-bottom: 1%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin-top:1%;
      width:80vw;
      height:35vh;

    }

    .overlay {
      position: absolute;
      top: 0%;
      bottom: 0%;
      right: 0%;
      left: 0%;
      background-color: rgba(0,0,0,.3);
    }
    .mainFeaturedPostContent{
      position: relative;
      margin-left:7vw;
      color: white;
      margin-top: 5%;
    }
    
  