
.logo{
    display:flex;
    margin-left: 0.7%
  }
  .h3{
    margin-top:10%;
  
  }

.container {
  margin: auto;
left:15px;
top:-2.5vh;
  position:absolute;
}



.square1{
   position:absolute;
  background-color:grey;
  height: 30px;
  transform: rotate(-45deg);
  width: 30px;
  top:29px;

  
}

.circle1{
border-width: 2px;

  top: 18px;
  left: 12px;
  background:black;
  width: 30px;
  height: 30px;
  border-radius: 100% ;
  position:absolute;
 
  }

.circle2{
  
position:absolute;
  top: 18px;
  left: -11px;
  background:black;
  width:30px;
  height: 30px;
  border-radius: 100%;

}
.stick{
  position:absolute;
  background-color: whitesmoke;
  height: 25px;
  transform: rotate(-45deg);
  width: 3px;
 border-radius:30px;
  top:30px;
  left:11px;
  
}
.circle3{
 background-color: whitesmoke;
  height: 12px;
  transform: rotate(-45deg);
  width: 8px;
  position:absolute;
  top:28px;
  left:px; 
  border-radius:60%;
}
.stick2{
  
  background-color: whitesmoke;
  height: 25px;
  transform: rotate(45deg);
  width: 3px;
  top:30px;
  left:17px;
  position:absolute;
  border-radius:30px;


}
.circle4{
  position:absolute;
 background-color: whitesmoke;
  height: 12px;
  transform: rotate(47deg);
  width: 7px;
  
  top:28px;
  left:22px; 
  border-radius:25%
}
.square2{
  
  background-color:black;
  height: 9px;
  transform: rotate(45deg);
  width: 1.5px;
position:absolute;
  top:27px;
  left:24.5px;
}
.square3{
  
  background-color: black;
  height: 10px;
  transform: rotate(45deg);
  width: 1.5px;
position:absolute;
  top:29px;
  left:27px;
}


.square5{
  position:absolute;
  background-color:  rgb(255, 104, 129);
  height: 9px;
border-radius:2px;
  width: 10px;
left:15px;
  top:57px;


}

.square6{
   position:absolute;
  background-color:  rgb(255, 104, 129);
  height: 10.5px;
border-radius:2px;
  width: 10px;
left:23px;
  top:48px;

  z-index:5;
}
.square7{
   
   position:absolute;
  background-color: rgb(255, 104, 129);
  height: 11px;
border-radius:2px;
  width: 11px;
left:31px;
  top:38px;

  z-index:5;
}




.name1{
  position:absolute;
  top:38px;
  left:44px;
  z-index:4;
  font-size:10px;


}
.name2{
  position:absolute;
  top:47px;
  left:38px;
  z-index:4;
  font-size:10px;

}
.name3{
  position:absolute;
  top:57px;
  left:27px;
  z-index:4;
  font-size:10px;
 
}




  