.viewrecipepaper {
  padding-right: 4vw;
  padding-left: 4vw;
  background-color: white;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-top: 7vh;
}
.recipeimage {
  max-width: 70vw;
}
.icon {
  content: " ";
  background-image: url(https://static.thenounproject.com/png/1206856-200.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 17px;
  margin: 0 auto 12px auto;
  display: block;
}
.circle {
  background-color: black;
  color: white;
  padding-right: 9%;
  padding-left: 9%;
  font-size: 12px;
  border-radius: 50%;
}
.title {
  font-family: "Cormorant Garamond", serif;
  font-size: 55px;
  font-weight: 400;
  margin: 10px 0;
}
.padding {
  padding: 2%;
}

.image {
  margin-top: 50px;
}
.mainhead {
  padding-left: 2vw;
}
.maintext {
  font-size: 4vh;
  font-family: serif;
  font-weight: normal;
}
.textbold {
  font-weight: 2vh;
  font-size: 2.7vh;
  padding: 2px;
}

.paperimage {
  width: 100vw;
  height: 60vh;
}

.imageg {
  width: 100vw;
  height: 60vh;

  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.paperimg {
  background-color: transparent;
  width: 100vw;
}
.span {
  display: flex;
}

.ingredients {
  padding: 3vh;
}
.instructionstext {
  margin: 2px;
  font-size: 2.3vh;
  padding: 2px;
  font-weight: bold;
  text-decoration: underline;
}

.head {
  background-color: black;
  color: white;
  font-size: medium;
}

.details {
  display: inline-flex;
  flex-direction: column;
}
.textstyle {
  font-size: 2.3vh;

  padding: 2px;
}
@media only screen and (max-width: 768px) {
  .viewrecipepaper {
    padding: 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
  }
}

@media only screen and (max-width: 425px) {
  .paperimage {
    width: 100vw;
    height: 35vh;
  }
  .title {
    font-size: 40px;
  }
  .imageg {
    width: 100vw;
    height: 35vh;

    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
  }

  .details {
    margin-left: 2vw;
  }

  .img {
    height: 30vh;
    width: 100%;
  }
  .paperimg {
    background-color: transparent;
    width: 100vw;
    height: 40vh;
  }
  .textstyle {
    font-size: 2vh;
    padding: 2px;
  }
}

.body {
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 5%;
}
.image {
  padding-top: 3%;
  background-image: url("/assets/addrecipebackgrounddesktop.jpg");
  background-repeat: no-repeat;
  width: 100vw 88vh;
  background-size: cover;
  padding-bottom: 6%;
}

.root {
  padding-top: 5vh;
}

.text {
  padding-top: 5px;
  font-weight: 10px;
  color: black;
}
.secondarytext {
  font-size: 10px;
}

.likesreviews {
  font-size: 2vh;
}
