.head{
    background-color: black;
    color:white;
    font-size: medium;
}
.display{
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    gap: 3%;
}

    @media only screen and (max-width: 768px) {
    .display {
        grid-template: repeat(1, 1fr) / repeat(1, 1fr); 
        }
    }
    @media only screen and (max-width: 425px) {
        .display {
            grid-template: repeat(1, 1fr) / repeat(1, 1fr); 
           
            }
        }

        .img {
            max-width: 100%;
            box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
            border-radius: 20px;
            width:35vw;
          }       
.body{
    padding:4%;
}
.image{
    background-image: url("https://images.pexels.com/photos/349609/pexels-photo-349609.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    padding:4%;
    background-repeat: no-repeat;
    width: 100wh 88vh;
    background-size: cover;
   
}

.root{
    padding-top: 5px;
}

.title{
    color:black;
    
}
.paper{
    padding-bottom: 10px;
    padding-top:10px;
    padding-right:10px;
    padding-left:10px;
    background-color:white;

}
.text{
    font-weight:5px;
    color: black;

}

.likesreviews{
font-size: 2vh;
}

@media only screen and (max-width: 425px) {
 
    .img{
      margin-left:3vw;
      width: 80vw;
    }
   
}