.main{
  padding:0px;
  top:10px;

}

.form{
    margin-left: 0px;
    top:0;
    display:flex;
    flex-direction:column;

    top:10px;
    
}

.save{
  width:80px ;
  position:relative;
  left:90px;
}