.popover{
    padding-right:5px;
    display: flex;
    text-decoration: none;

}
.nav, .nav:hover{
    color: #2F3640;
    text-decoration: none;
   
}
.notific{
    display: flex;
    padding:5px;
}