

.carouselroot{
     flex-wrap: nowrap;
margin-right: 5vw;
  margin-left: 5vw;
    height:90vh;
    width:78vw;
    flex-direction: column;

  }
  .titlebar{
    width: 25vw;
 
  display: flex;
  flex-direction: row;
 
  }
  .icontitle{
  font-size: 2px;
  }
   .gridList{
    flex-wrap: nowrap;
   display: flex;
    height:60vh;
    width: 81vw;
   } 

   .title {
    color:black;
   font-family:serif;
   
  }
  
 
  .image{
  height:60vh;
width:25vw;
padding-left: 2vw;
padding-right: 2vw;

  }
.subtitle{
color:darkblue;
}
@media only screen and (max-width: 425px) {
 
  .carouselroot{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
margin-right: 1vw;
 margin-left: 1vw;
   height:58vw;
   width:97vw;

  }
 .titlebar{
  
   width: 35vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 }
  .gridList{
   flex-wrap: wrap;
  display: flex;
   height:55vw;
   width: 97vw;
  } 

  .title {
   color:black;
   font-family:'Times New Roman', Times, serif;

 }
  .icontitle{
  padding-right: 0vw;
  padding-left: 0vw;
height: 1px;
 }

 .image{
 height:35vw;
width:35vw;
padding-right: 1vw;

 }
.subtitle{
color:darkblue;
}
}