

.carouselroot{
     flex-wrap: nowrap;
margin-right: 5vw;
  margin-left: 5vw;
    height:90vh;
    width:75vw;
    flex-direction: column;

  }
  .titlebar{
    width: 26vw;
   
  }
   .gridList{
    flex-wrap: nowrap;
   display: flex;
    height:80vh;
    width: 80vw;
   } 

   .title {
    color:black;
  }
  
 
  .image{
  height:80vh;
width:30vw;
padding-right: 3vw;


  }
.subtitle{
color:darkblue;
}
@media only screen and (max-width: 425px) {
 
  .carouselroot{
    flex-wrap: wrap;
margin-right: 1vw;
 margin-left: 1vw;
   height:60vh;
   width:97vw;


 }
 .titlebar{
   width: 35vw;
   padding-right: 1vw;
 }
  .gridList{
   flex-wrap: wrap;
  display: flex;
   height:60vh;
   width: 97vw;
  } 

  .title {
   color:black;
 }
 

 .image{
 height:40vh;
width:35vw;
padding-right: 1vw;

 }
.subtitle{
color:darkblue;
}
}