.h1{
    text-align: left;
    color: #D5AFA7;
    font-size: 40px;
  margin: 20px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.h3{
  text-align: center;
}

.footInfo{
    margin-right: 10px;
    
    height: 30px;
  text-align:right;
    
}


.footOverall{
    background-color: #bbb;
}

h3{
  text-align: center;
}

ul#footInfo {
  display: inline;
}