body {
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
}
.bttn {
  color: white;
  text-decoration: none;
}
.add {
  color: white;
}
.add :hover {
  color: white;
}
ol.progtrckr {
  list-style-type: none;
  padding: 0;
}

ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 4rem;
  cursor: pointer;
}

ol.progtrckr li span {
  padding: 0 1.5rem;
}

@media (max-width: 460px) {
  .progtrckr li span {
    display: none;
  }
}
.progtrckr em {
  display: none;
  padding-left: 3rem;
}

@media (max-width: 460px) {
  .progtrckr em {
    display: inline;
  }
}

ol.progtrckr li.progtrckr-todo {
  color: silver;
  border-bottom: 4px solid silver;
}

ol.progtrckr li.progtrckr-doing {
  color: black;
  border-bottom: 4px solid #cccccc;
}

ol.progtrckr li.progtrckr-done {
  color: black;
  border-bottom: 4px solid #5cb85c;
}

ol.progtrckr li:after {
  content: "\00a0\00a0";
}

ol.progtrckr li:before {
  position: relative;
  bottom: -3rem;
  float: left;
  left: 50%;
}

ol.progtrckr li.progtrckr-todo:before {
  content: "\#";
  color: white;
  background-color: silver;
  width: 2em;
  line-height: 2em;
  border-radius: 1.2em;
}

ol.progtrckr li.progtrckr-doing:before {
  content: "\step";
  color: white;
  background-color: #F10056;
  width: 2em;
  line-height: 2em;
  border-radius: 1.2em;
}


ol.progtrckr li.progtrckr-done:before {
  content: "\2713";
  color: white;
  background-color: #5cb85c;
  width: 2em;
  line-height: 2em;
  border-radius: 1.2em;
}

ol.progtrckr li.progtrckr-done:hover:before {
  color: #333;
}
